// ALL COLORS CAN BE SWAPPED OUT HERE

// #ff5959
// #facf5a
// #49beb7
// #085f63

// Colors
$color-primary: #ff5959;
$color-primary-light: #ff7a7a;
$color-primary-dark: #cc4747;

$color-secondary-light: #facf5a;
$color-secondary-dark: #c8a548;

$color-tertiary-light: #49beb7;
$color-tertiary-dark: #085f63;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Fonts
$default-font-size: 1.6rem;